header {
  display: flex;
  background-color: #375baa;
  height: 100px;
}

body {
  background-color: #ccc;
}

.my-deck {
  height: 50%;
  background-color: #375baa;
  border-style: none;
  font-size: 14px;
  color: white;
}

.tcg-logo {
  width: 150px;
}

.header-row {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.my-deck-button-container {
  position: fixed;
  right: 0;
  margin-right: 10px;
}

.search-bar {
  width: 365px;
  border-radius: 8px;
  height: 40px;
  margin-top: 20px;
  border-style: ridge;
  border-width: 1px;
  border-color: #bb1218;
}

.filter-bar {
  width: 365px;
  border-radius: 8px;
  height: 40px;
  margin-top: 20px;
  border-style: ridge;
  border-width: 1px;
  border-color: #bb1218;
}

.search-row {
  justify-content: space-between;
}

/*
.card-row {
  flex-wrap: ;
} */

.alakazam {
  width: 160px;
  height: 200px;
  object-fit: cover;
}
